/* EditClass.css */
.ExcelTable2007 {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  border: #545454 2px solid;
}

.ExcelTable2007 th {
  padding: 10px 30px;
  text-align: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #545454;
  border-bottom: solid 2px #545454;
  width: 40%;
}

.ExcelTable2007 th:first-child {
  border-top-left-radius: 13px;
}

.ExcelTable2007 th:last-child {
  border-top-right-radius: 13px;
  width: 20%;
}

.ExcelTable2007 td {
  padding: 10px 30px;
  font-size: 16px;
}

.ExcelTable2007 tr:nth-child(even) {
  /* background-color: #f2f2f2; */
}

.ExcelTable2007 tr:last-child td:first-child {
  border-bottom-left-radius: 13px;
}

.ExcelTable2007 tr:last-child td:last-child {
  border-bottom-right-radius: 13px;
}
